<div class="jumbotron" style=" margin-left: 5% ; margin-right: 5%; border-radius: 35px">
  <div class="container">
    <h2>
      <%= link_to movie.title, movie %></h2>
    <p class="lead">From the driector : <%=movie.director %></p>
  </div>
</div>